.right
{

    width: 200px;
    display: inline-block;
    padding: 3px;
    position: absolute;
    margin-left: 3px;
    background-color: #ffffff;
    border-radius:  3px;
    box-shadow: 5px 0px 20px black;
}

.panel_menu
{
    margin-bottom: 3px
}

.panel_menu_header_right
{
    background-color: #DEE8E7;
    border-radius: 5px;
    height: auto;
    padding: 5px;
    position: relative;
    min-height: 139px;
    word-wrap: break-word
}
.panel_menu_header_right h2
{
    text-align: center;
    margin-bottom: 5px;
    margin-top: 3px;
    background:-webkit-linear-gradient(top,#419AAD,white);
    background:-moz-linear-gradient(top,#419AAD,white);
    background:-ms-linear-gradient(top,#419AAD,white);
    background:-o-linear-gradient(top,#419AAD,white);
    border-radius: 3px;
    padding: 5px
}